/*
#6356e5     r:99  g:86  b:229   1-layer
#8d8dff     r:141 g:141 b:255   2-layer
#474198     r:71  g:65  b:152   3-layer
#554cbf     r:85  g:76  b:191   fusion 1-3

Notes :
https://icons.getbootstrap.com/
https://stackoverflow.com/questions/35012518/resize-javafx-label-if-overrun
 */

/*
 *  Colors
 */

* {
    color1: white;
    color2: #d4d4d4;
}

.mainPane {
    -fx-background-color: color1;
}

/*
 *  NavBar
 */

.pane {
    -fx-background-color: #554cbf;
}

/*
 *  TabPane
 */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #d4d4d4;
    -fx-border-radius: 5;
}
.tab-pane .tab {
    -fx-background-color: white;
    -fx-border-color: #d4d4d4;
}
.tab-pane .tab:selected {
    -fx-background-color: #554cbf;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/*
 *  Button
 */

.button {
    -fx-background-radius: 30;
    -fx-border-color: #d4d4d4;
    -fx-border-radius: 30;
}

.button .mfx-ripple-generator {
    -mfx-ripple-radius: 30;
    -mfx-auto-clip: true;
}

/*
 *  Button
 */

.button.image-view {
    -fx-background-color: #6356e5;
}

/*
 *  Text-field
 */

.text-field {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-wrap-text: true;
}

.text-field .floating-text {
    -fx-background-color: color1;
    -fx-text-fill: black;
}